.card-plate {
  padding-top: 0.75rem;

  box-shadow: 0 7px 9px -8px #919191;
  .content {
    padding: 0.75rem;
    display: flex;
    flex-direction: column;

    background-color: white;
    border-radius: 1rem;

    .title {
      padding-bottom: 0.25rem;

      font-weight: bold;
    }
    .sub {
      display: flex;
      justify-content: space-between;
      font-size: 14px;

      .price {
        padding-right: 0.5rem;
        font-weight: bold;
      }
    }
  }
}
