.card-plate {
  margin: 1.5rem 0 0.75rem;
  display: flex;

  background-color: white;
  overflow: hidden;
  border-radius: 1rem;
  box-shadow: 0 7px 9px -8px #919191;

  .content {
    min-width: 0;
    padding: 0.75rem;
    flex-grow: 1;

    .title {
      padding-bottom: 0.25rem;

      font-weight: bold;
    }
  }
  .price {
    display: flex;
    align-items: flex-end;
    padding: 0.75rem 0.75rem 0.75rem 0;
  }
  .checkmark {
    --container-size: 64px;
    width: 0px;
    position: relative;

    background-color: var(--tertiary-color);
    transition: 1s;
    .check-circle {
      --size: 25px;
      position: absolute;
      left: calc((var(--container-size) / 2) - (var(--size) / 2));
      top: calc((var(--container-size) / 2) - (var(--size) / 2));
      display: flex;
      justify-content: center;
      align-items: center;
      height: var(--size);
      width: var(--size);
      border-radius: 100%;

      background-color: white;
      i.fas {
        color: var(--tertiary-color);
      }
    }
  }
  &:hover {
    .checkmark {
      width: var(--container-size);
    }
  }
}
