header {
  height: 63px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.no-arrow {
    .icon-block {
      a {
        display: none;
      }
    }
  }

  img {
    width: 180px;
  }

  .icon-block {
    width: 35px;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      font-size: 21px;
      color: #343a40;
    }
  }
}
