.menu {
  padding-top: 200px;
  background-size: contain;
  background-repeat: no-repeat;

  .main-block {
    padding: 1.5rem;

    background-color: var(--background);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

    .title-block {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        font-family: Shrikhand;
        font-size: 26px;
      }

      .fa-heart {
        font-size: 23px;
      }
    }

    .section {
      margin: 1.5rem 0 0.5rem;
      position: relative;
      width: max-content;
    }
    .section::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -7px;
      height: 3px;
      width: 100%;
      background-color: var(--tertiary-color);
    }
  }
}

@keyframes fadin {
  0% {
    opacity: 0;
    transform: translateY(1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}
div :nth-of-type(3) {
  opacity: 0;
  animation: fadin 0.5s;
  animation-delay: 100ms;
  animation-fill-mode: forwards;
}

div :nth-of-type(4) {
  opacity: 0;
  animation: fadin 0.5s;
  animation-delay: 200ms;
  animation-fill-mode: forwards;
}

div :nth-of-type(5) {
  opacity: 0;
  animation: fadin 0.5s;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
}

div :nth-of-type(6) {
  opacity: 0;
  animation: fadin 0.5s;
  animation-delay: 400ms;
  animation-fill-mode: forwards;
}

div :nth-of-type(7) {
  opacity: 0;
  animation: fadin 0.5s;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
}

div :nth-of-type(8) {
  opacity: 0;
  animation: fadin 0.5s;
  animation-delay: 600ms;
  animation-fill-mode: forwards;
}

div :nth-of-type(9) {
  opacity: 0;
  animation: fadin 0.5s;
  animation-delay: 700ms;
  animation-fill-mode: forwards;
}

div :nth-of-type(10) {
  opacity: 0;
  animation: fadin 0.5s;
  animation-delay: 800ms;
  animation-fill-mode: forwards;
}

div :nth-of-type(11) {
  opacity: 0;
  animation: fadin 0.5s;
  animation-delay: 900ms;
  animation-fill-mode: forwards;
}

div :nth-of-type(12) {
  opacity: 0;
  animation: fadin 0.5s;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
}

div :nth-of-type(13) {
  opacity: 0;
  animation: fadin 0.5s;
  animation-delay: 1100ms;
  animation-fill-mode: forwards;
}

div :nth-of-type(14) {
  opacity: 0;
  animation: fadin 0.5s;
  animation-delay: 1200ms;
  animation-fill-mode: forwards;
}
