<div
  class="menu"
  style="
    background-image: url('{{image}}');
  "
  ;
>
  <div class="main-block">
    <div class="title-block">
      <div class="title">{{resto}}</div>
      <div class="heart">
        <i class="far fa-heart"></i>
        <i class="fas fa-heart"></i>
      </div>
    </div>
    <div class="section">ENTRÉES</div>
    <each loop="item, index in entrees">
      <include src="components/card-plate.html"> {{item}} </include>
    </each>

    <div class="section">PLATS</div>
    <each loop="item, index in plats">
      <include src="components/card-plate.html">{{item}} </include>
    </each>

    <div class="section">DESSERTS</div>
    <each loop="item, index in desserts">
      <include src="components/card-plate.html"> {{item}} </include>
    </each>
  </div>
</div>
