@import '@fortawesome/fontawesome-free/css/all.css';

@font-face {
  font-family: Shrikhand;
  src: url(../assets/Shrikhand/Shrikhand-Regular.ttf);
  font-weight: normal;
  font-size: normal;
}

@font-face {
  font-family: Roboto;
  src: url(../assets/Roboto/Roboto-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(../assets/Roboto/Roboto-Light.ttf);
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  src: url(../assets/Roboto/Roboto-Bold.ttf);
  font-weight: bold;
  font-style: normal;
}

:root {
  --primary-color: #9356dc;
  --secondary-color: #ff79da;
  --tertiary-color: #99e2d0;
  --background: #f2f2f2;
  --box-color: #e8e8e8;
}

* {
  box-sizing: border-box;

  font-family: Roboto;
  font-weight: normal;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.heart:hover .far,
.heart .fas {
  display: none;
}

.fa-heart:hover {
  background: linear-gradient(
    180deg,
    var(--primary-color) 25%,
    var(--secondary-color)
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

.heart:hover .fas {
  display: inline;
}

html {
  scroll-behavior: smooth;
  body {
    min-height: 100vh;
    margin: 0;

    background: var(--background);
  }
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

@import './components/header.css';
@import './components/card.css';
@import './components/menu.css';
@import './components/footer.css';
@import './components/card-plate.css';
@import './components/loader.css';

main {
  .title {
    font-size: 25px;
    font-weight: bold;
  }

  .localisation {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #dddddd;
    box-shadow: inset 0 7px 9px -9px #919191;
    .icon-block {
      padding-right: 10px;
    }
  }
  .explore {
    padding: 21px 0 21px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background: var(--box-color);
    h1 {
      text-align: center;
    }
    h2 {
      margin: 0;
      text-align: center;
      font-weight: normal;
      font-size: 17px;

      font-weight: light;
    }
    .explore-button {
      margin: 25px 0 43px 0;
      padding: 16px;
      display: flex;
      justify-content: center;
      align-items: center;

      background: linear-gradient(
        -10deg,
        var(--primary-color) 25%,
        var(--secondary-color)
      );
      color: white;
      border-radius: 25px;
      box-shadow: 0 7px 9px -8px #919191;
    }
  }
  .steps {
    padding: 2rem 1rem 1rem 1rem;

    .steps-block {
      counter-reset: steps;
      margin: 1.5rem 1rem 1.5rem 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;

      .no-anim {
        animation: none;
        opacity: 1;
      }

      .steps-item {
        width: 100%;
        counter-increment: steps;
        position: relative;
        margin: 0.75rem 0.5rem 0.75rem 0.5rem;
        padding: 1.5rem;
        display: flex;
        gap: 1.55rem;

        background: var(--box-color);
        border-radius: 22.5px;
        box-shadow: 0 7px 9px -8px #919191;
        transition: 0.5s;

        i {
          padding-left: 0.8rem;

          font-size: 1.1rem;
        }

        a {
          font-weight: bold;
        }
      }

      .steps-item:hover {
        background: #ddc2ff;
        cursor: pointer;
        box-shadow: 0 7px 9px -8px #3d3d3d;
      }

      .steps-item::before {
        --size: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--size);
        height: var(--size);
        position: absolute;
        top: 21.5px;
        left: calc(0px - var(--size) / 2);
        content: '' counter(steps) '';

        background: var(--primary-color);
        border-radius: 50%;
        color: white;
      }
    }
  }
  .resto-block {
    padding: 15px;
    background: var(--box-color);

    .card-block {
      padding: 10px;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }
  }
}
